/manuscript/resources/session0/R for Water Professionals 2560x1440.psd
/casestudy1/thm-report.docx
/casestudy1/thm-report.html
/casestudy1/thm-report.log
/casestudy1/thm-report.tex
.gitignore
.Rproj.user
/.RData
/.Rhistory
/Workshops/2019 Melbourne/IMG_8597.jpeg
/Workshops/2019 Melbourne/IMG_8600.jpeg
girl.png
/Peterprevos_Data_Science_for_Water_Utilities.psd
/Workshops/
/presentations/.Rhistory
.pptx
videos
/preview/
/workshops/
